/* styles in src/style directory are applied to the whole page */
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
  background: #ffffff;
  color: #000000;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
}
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
}
.main-header .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0;
    margin-left: 0px;
    background-color: rgb(0, 122, 222);
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}
.wrapper:after {
    clear: both;
}

.wrapper:before, .wrapper:after {
    content: " ";
    display: table;
}

.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f9fafc;
    min-height: 100%;
}

.top-nav {
    position: absolute;
    list-style: none;
    height: 80px;
    vertical-align: top;
    width: 100%;
    text-align: center;
}
.main-header li.active {
    background: #1b68c1;
}
.main-header li {
    padding: 0 10px;
    height: 100%;
    text-align: center;
    color: #ffffff;
}
.main-header li span {
    font-size: 16px;
    font-weight: bold;
}
.navbar-nav>li {
    float: left;
    position: relative;
    display: block;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}